<nav class="bg-primary">
  <div class="max-w-full px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          <img class="hidden lg:block h-10 w-auto mx-2" src="../../../assets/logo_white.svg" alt="Workflow">
          <p class="text-3xl font-extrabold font-thin text-white">STEPS</p>
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <ng-container *ngIf="userService.userModel === 'teacher'">
              <a (click)="check()" [routerLink]="['/home/students-statistics/']"
                 class="text-gray-200 hover:bg-primary-100 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Statistici
                studenţi</a>
              <a (click)="check()" [routerLink]="['/home/evaluations-result/']"
                 class="text-gray-200 hover:bg-primary-100 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Rezultate
                evaluări</a>
              <a (click)="check()" [routerLink]="['/home/teachers-statistics/']"
                 class="text-gray-200 hover:bg-primary-100 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Statistici
                profesori</a>
            </ng-container>
            <ng-container *ngIf="userService.userModel === 'student'">
              <a (click)="check()" [routerLink]="['/home/didactic-evaluation/']"
                 class="text-gray-200 hover:bg-primary-100 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Evaluări
                didactice</a>
            </ng-container>
            <ng-container *ngIf="userService.userModel === 'admin'">
              <a [routerLink]="['/home/administration/']"
                 (click)="check()" class="text-gray-200 hover:bg-primary-100 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Administrare</a>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="justify-end">
        <a (click)="logout()"
           class="text-gray-200 hover:bg-primary-100 hover:text-white px-3 py-2 rounded-md text-sm font-medium"> Ieşire
          cont
        </a>
      </div>
    </div>
  </div>
</nav>
