<div class="min-h-screen flex justify-center bg-gray-50 py-16 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full my-20 space-y-8">
    <div>
      <img class="mx-auto h-20 w-auto" src="../../../../assets/favicon.ico"
           alt="Workflow">
      <h2 class="mt-6 text-center text-2xl font-bold text-gray-600">
        Conectează-te în cont
      </h2>
    </div>
    <div>
      <form class="mt-12 space-y-6">
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="username" class="sr-only">Utilizator</label>
            <input [(ngModel)]="username" id="username" name="username" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Utilizator">
          </div>
          <div>
            <label for="password" class="sr-only">Parolă</label>
            <input [(ngModel)]="password" id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Parolă">
          </div>
        </div>

        <div>
          <button type="submit" (click)="authenticate()" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-primary hover:bg-gray-700">
            Conectează-te
          </button>
        </div>

        <div class="flex items-center justify-center">
          <div class="text-sm">
            <a href="#" class="font-medium text-center text-blue-600 hover:text-blue-500">
              Ai uitat parola?
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
